@font-face {
    font-family: 'Druk';
    src: url('../styles/Helmet-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Druk', sans-serif;
}
