@font-face {
    font-family: 'Helmet';
    src: url('../assets/fonts/Helmet-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Use Helmet as the default font */
body {
    font-family: 'Helmet', sans-serif;
}

/* Add other font definitions as needed */ 